.link {
  margin-top: 1.2rem;
  color: #a3aab4;
  font-size: 1.2rem;

  &:hover {
    text-decoration: none;
  }
}

.active {
  padding-left: 10px;
}

.icon__wrapper {
  display: inline-block;
  width: 40px;
}